body {
  font-family: KaiTi, STKaiti;
  /* background-image: url("../images/background.jpg");
  background-color: #cccccc; */
}

.box-header{
  padding: 10px;
}

.nine-button {
  overflow:hidden;
  position:relative;
  margin:0 -10px 20px;
}

.nine-button-list {
  padding-top: 20px;
  padding-left:5px;
  list-style:none;
  margin: 0 auto;
}

/* How to handle different screen size*/
.nine-button li {
  float:left;
  width:33%;
  height:8em;
  font-size:1em;
  line-height:1.4;
  text-align:center;
  border-radius:10px;
  background-color:#e6ffff; /* Old #F9F9F9 */
  border:1px solid #fff;
  padding:25px;
}

.nine-button .glyphicon {
  margin-top:5px;
  margin-bottom:10px;
  font-size:24px;
}

.nine-button .text-filed-class {
  display:block;
  text-align:center;
  word-wrap:break-word;
}
